<launch>

 <!-- Set Parameter Sever -->
 <rosparam  file="$(find controller)/cfg/paths.yaml" command="load"/>


 <!-- Serial Arduino Node -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>

 <!-- Joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="jetson_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>
 
 <!-- Recorder Node -->
  <node pkg="record_data" name="recorder" type="start.py" output="screen"> 
  </node>

 <!-- Pilot Node -->
  <node pkg="controller" name="autonomous_controller" type="controller.py" output="screen"/>

  <!-- Perception Node -->
  <param name="scale_linear" value="0.5" type="double"/>
  <param name="scale_angular" value="1.0" type="double"/>
  <param name="axis_linear" value="3" type="int"/>
  <param name="axis_angular" value="0" type="int"/>

  <node pkg="controller" type="controller_node" name="jetson_teleop"/>
</launch>
